<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="../css/hello.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
        <link rel="stylesheet" href="../bootstrap/bootstrap.css">
        <script type="text/javascript" src="../bootstrap/jquery-3.6.0.js"></script>
        <script type="text/javascript" src="../bootstrap/bootstrap.js"></script>
    </head>
    <body>
        <div class="container">
            <h2>亀井家データ測定値一覧</h2>
            <div class="container py-4" id="contact">
                <h2>日時を入力してください(YYYYMMDD形式)</h2>
                <form method="post">
                    <div class="form-group">
                    <input type="text" class="form-control" name="day">
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
            <h1>データが存在しません。別日を選択してくください。</h1>
        </div>
    </body>
</html>