<!DOCTYPE html>
 <html lang="ja"> 
     <head> 
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/login.css">
    <title>ログイン画面</title>
        <script src="script.js"></script> 
    </head> 
    <body>
        <div class="login">
            <div class="login-triangle"></div>
            <h2 class="login-header">Login to your account</h2>          
            <form method="POST" class="login-container">
                <p><input type="text" name="username" title="username" placeholder="username"></p>
                <p><input type="text" name="password" title="password" placeholder="password"></p>
                <p><input type="submit" value="ログイン"></p>
                <!--<a href="./"><input type="submit" value="ログイン"></a>-->
                <a class="forgot" href="./signup">新規登録はこちら</a>
            </form>
        </div>
    </body> 
</html>
