<!DOCTYPE html>
 <html lang="ja"> 
     <head> 
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/login.css">
    <title>新規登録</title>
        <script src="script.js"></script> 
    </head> 
    <body>
        <div class="login">
            <div class="login-triangle"></div>
            <h2 class="login-header">新規登録が完了しました</h2>          
            <div class="login-container">
                <a class="forgot" href="./login">ログイン画面はこちら</a>
            </div>
        </div>
    </body> 
</html>